@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: 200px;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}
@charset "utf-8";

@media all and (min-width: 1046px) {
  .nav {
    width: 100%;
    position: fixed;
    z-index: 11;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px 60px;
    height: 80px;
    background-color: #ffffff;
    -webkit-box-shadow: 3px 3px 20px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 20px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 20px -4px rgba(0, 0, 0, 0.75);
    img {
      height: 75px;
      width: 145px;
    }
    .nav__main {
      justify-content: flex-start;
      display: flex;
      align-items: center;
    }
    .nav__list {
      justify-content: flex-end;
      display: flex;
      .nav__list-item {
        width: 100px;
        border-right: solid 1px #969595;
        display: flex;
        align-items: center;
        justify-content: center;
        & button {
          display: flex;
          justify-content: center;
          opacity: 70%;
          font-size: 14px;
          border: 0px;
          background-color: white;
        }
        & :hover {
          cursor: pointer;
          opacity: 100%;
          font-weight: 800;
        }
      }
    }
  }

  .main {
    position: relative;
    background-color: white;
    top: 24px;
    .index__first {
      height: 770px;
      background-image: url(../../dist/images/road1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      .index__first-ment {
        color: black;
        font-weight: 700;
        padding-left: 90px;
      }
      @keyframes delay {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      .index__first-ment.ment1 {
        display: inline-block;
        font-size: 70px;
        padding-top: 190px;
        animation: delay 1s ease-out forwards;
      }
      .index__first-ment.ment2 {
        display: inline-block;
        font-size: 45px;
        padding-top: 15px;
        animation: delay 2s ease-out forwards;
      }
    }
    .index__second {
      display: flex;
      flex-direction: column;
      height: 770px;
      padding: 150px 150px 90px 150px;
      border: solid 1px rgb(231, 231, 231);
      .index__second-title {
        font-size: 30px;
        .second-title {
          display: flex;
          justify-content: center;
        }
        .divider {
          padding-top: 0px;
          .hr__narrow {
            width: 250px;
            border-color: #ffe16f;
            height: 1.5px;
          }
        }
      }
      .second-content {
        display: flex;
        .index__second-content,
        .index__second-content1 {
          width: 400px;
          display: flex;
          flex-direction: column;
          padding: 60px 60px;
        }
        @keyframes colorChange {
          from {
            transform: none;
          }
          to {
            background-color: #ffe16f;
          }
        }
        @keyframes colorChangeIcon {
          from {
            transform: none;
          }
          to {
            color: white;
          }
        }
        .index__second-content {
          background-color: #f6f6f6;
          &:hover {
            animation: colorChange 0.5s ease-in-out forwards;
            i {
              animation: colorChangeIcon 0.5s ease-in-out forwards;
            }
          }
          & i {
            font-size: 100px;
            display: flex;
            justify-content: center;
            color: #ffe16f;
          }
        }

        .index__second-content1 {
          background-color: #ffffff;
          &:hover {
            animation: colorChange 0.5s ease-in-out forwards;
            i {
              animation: colorChangeIcon 0.5s ease-in-out forwards;
            }
          }
          & i {
            font-size: 100px;
            display: flex;
            justify-content: center;
            color: #ffe16f;
          }
        }
        .content-title {
          display: flex;
          justify-content: center;
          padding: 20px;
          font-size: 22px;
          font-weight: 700;
          line-height: 30px;
        }

        .content-content {
          display: flex;
          justify-content: center;
          line-height: 20px;
          font-size: 12px;
          opacity: 0.8;
          text-align: center;
        }
      }
    }

    .index__third {
      height: 770px;
      background-color: #ffe16f;
      display: flex;
      flex-direction: column;
      line-height: 40px;
      color: black;
      text-align: center;
      .third__title {
        font-weight: 600;
        padding: 130px 0px 30px 0px;
        font-size: 30px;
      }
      .third__container {
        display: flex;
        justify-content: center;
        .third__process {
          width: 250px;
          margin: 0px 10px;
          img {
            width: 230px;
          }
        }
      }
    }
  }

  // .index__forth {
  //   height: 740px;
  //   width: 100%;
  //   padding: 20px 160px 70px 160px;
  //   position: relative;
  //   .forth__title {
  //     font-size: 13.5px;
  //     width: 250px;
  //     padding-left: 20px;
  //     opacity: 1;
  //     position: absolute;
  //     z-index: 2;
  //     top: 100px;
  //     right: 637.5px;
  //     background-color: white;
  //     color: gray;
  //   }
  //   .forth__container {
  //     position: absolute;
  //     z-index: 1;
  //     top: 10px;
  //     border: solid 5px #662483;
  //     width: 1190px;
  //     height: 350px;
  //     display: flex;
  //     align-items: center;
  //     .forth__content {
  //       font-size: 20px;
  //       display: flex;
  //       justify-content: center;
  //     }
  //   }
  // }

  .index__fifth {
    height: 770px;
    padding-top: 200px;
    background-color: white;
    .fifth__content {
      display: flex;
      flex-direction: column;
      font-size: 30px;
      font-weight: 600;
      line-height: 40px;
      color: black;
      padding: 00px 0px;
      text-align: center;
      justify-content: center;
      align-items: center;
      z-index: 11;
      .gform {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .fifth__input {
          display: flex;
          .fifth__title {
            width: 100px;
            margin: 30px 0px;
          }
          & input {
            margin: 30px 140px 0px 50px;
            height: 40px;
          }
        }
        .submit {
          width: 200px;
          margin: 50px 0px;
        }
      }
    }
  }

  // .index__sixth {
  //   height: 466px;
  // }
}

.sub {
  width: 100%;
  background-color: rgb(37, 37, 37);
  color: white;
  height: 350px;
  padding: 50px 0px 0px 0px;
  .sub__contact {
    width: 100%;
    .sub__icon {
      display: flex;
      .sub__sns {
        width: 100%;
        display: flex;
        justify-content: center;
        @keyframes fAnimation {
          from {
            transform: none;
          }
          to {
            background-color: #3b5998;
          }
        }
        @keyframes iAnimation {
          from {
            transform: none;
          }
          to {
            background-color: #3f729b;
          }
        }
        .facebook {
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            animation: fAnimation 0.5s ease-in-out forwards;
          }
        }
        .instagram {
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            animation: iAnimation 0.5s ease-in-out forwards;
          }
        }
        .icon {
          width: 50px;
          height: 50px;
          padding: 18px 0px 0px 18px;
        }
      }
    }
  }
  .sub__information {
    line-height: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .sub__service,
    .sub__ceo,
    .sub__address,
    .sub__phone,
    .sub__mail {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .sub__last {
      display: flex;
      justify-content: center;
      .sub__ment1 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: white;
        font-size: 13px;
        padding-right: 10px;
        font-weight: 600;
      }
      .sub__ment2 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: white;
        font-size: 13px;
        padding-left: 10px;
        font-weight: 600;
      }
    }
    .sub__ment {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 13px;
    }
  }
}

.kakaoButton {
  position: fixed;
  width: 190px;
  bottom: 24px;
  right: 24px;
  border-radius: 30px 30px 30px 0px;
  box-shadow: 0 8px 20px 0 rgba(72, 72, 72, 0.1);
  background-color: #fbe300;
  border: none;
  text-decoration: none;
  padding: 10px 20px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  .kakaoCircle {
    width: 35px;
    height: 35px;
    .kakaoImg {
      width: 35px;
      height: 35px;
    }
  }
  .kakaoDesktop {
    width: 105px;
    margin-left: 10px;
    font-size: 16px;
  }
}
